#app {

    background-color: #0e0e10;
    padding-top: 0;
    min-height: 100vh;
    color: white;
    

    header.main-header {
        margin-left: -2rem;;
        padding-right: 0;
        margin-bottom: 16px;
        position: fixed;
        z-index: 1;
        width: 100%;
        
    }

    main {
        .header {
            padding: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: none;

            &.read-only {
                justify-content: unset;
                gap: 16px;
            }

            .v-btn {
                margin-left: 16px;
            }

            .identity {
                display: flex;
                gap: 32px;
                align-items: center;
            
                .v-input {
                    max-width: 400px;
                }
            }
        }
        .identity {
            display: flex;
            gap: 32px;
            align-items: center;
        
            .v-input {
                max-width: 400px;
            }
        }
        
        .filters-zone {
                background-color: #1F1F23;
                padding: 16px 16px 0 16px;
                margin-bottom: 16px;
            .filters-bloc {
                
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: none;
                gap: 32px;
                .v-input:not(.v-checkbox) {
                    width: 300px;
                }
                .v-selection-control .v-label {
                    word-break: unset;
                }
                
                .filters-bloc__input {
                    display: flex;
                    align-items: center;
                    gap: 32px;
                    .v-input:not(.v-checkbox) {
                        width: 300px;
                    }
                }
                
                .filters-bloc__action {
                    display: flex;
                    align-items: center;
                    .v-btn {
                        margin-left: 16px;
                    }
                }
            }
        }

        .characters-list {
            &.mini {
                .v-list-item { display: none;}
            }

            .match-filter {
                background-color: rgb(147, 63, 202);
                font-weight: bold;
                padding: 0 8px;
            }

            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            column-gap: 16px;
            row-gap: 16px;
        
            .v-card { 
                width: 100%;
                .card-title-zone {
                    .v-toolbar__content { gap: 8px; }
                }
                .v-toolbar .v-btn {
                    min-width: 40px;
                    padding: 0;
                }
                .v-toolbar-title {
                    span { margin-right: 8px; }
                   
                }
                .long-item {
                    -webkit-line-clamp: unset;
                }
                .v-list-subheader {
                    font-size: 1.1rem;
                }
                .v-list-item-title {
                    opacity: 0.85;
                    margin-bottom: 8px;
                    font-size: 1.05rem;
                    font-weight: 500;
                }
                .v-list-item-subtitle {
                    opacity: 0.7;
                    font-size: 1rem;
                    line-height: 1.2rem;
                    div { margin-bottom: 4px;}
                }
                .v-list-item.small {
                    .v-list-item__content {
                        display: flex;
                        align-items: baseline;
                        gap: 32px;
                    }
                    .v-list-item-title {
                        margin-bottom: 0;
                    }
                }
                .v-list-item--density-default.v-list-item--two-line.small {
                    min-height: 50px;
                }
            }
        }

        .roles-list {
            column-gap: 16px;
            row-gap: 16px;
            .v-input__details {
                display: none;
            }

            &.read-only {
                &.genshin-form {
                    
                }
                .fieldset-card {
                    border: unset;
                    .sets-content .set-line {
                        .v-radio-group {
                            width: 150px;
                        }
                    }
                }
            }

        
            .fieldset-card {
                padding: 16px;
                border: 1px solid gray;
                border-radius: 5px;
                margin-bottom: 8px;

                .group-bloc {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                    column-gap: 16px;
                }
        
                .individual-bloc {
                    display: flex;
                    align-items: center;
                    gap: 16px;
        
                    button {
                        width: 40px;
                        min-width: 40px;
                    }
                }

                .sets-content {
                    display: flex;
                    flex-wrap: wrap;
                    //justify-content: space-between;
                    //gap: 16px;

                    .set-content {
                        min-width: 600px;
                        width: 50%;
                        .set-line {
                            display: flex;
                            gap: 32px;
                            align-items: flex-start;
                            .v-radio-group {
                                max-width: 200px;
                            }
                            .v-textarea--no-resize {
                                width: 230px;
                                //max-width: 300px;
                                flex-grow: 2;
                            }
                            .v-input:not(.v-radio-group):not(.v-textarea--no-resize) {
                                width: 320px;
                            }
                        }
                    }
                    

                }
            }

            &.read-only {
                .set-line {
                    display: flex;
                    gap: 32px;
                    align-items: center;
                }
            }

            .multiple-card-zone {
                display: flex;
                gap: 32px;
                .v-card {
                    flex-grow: 2;
                }
            }
        
            .group {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                //grid-gap: 32px;
        
                .group-bloc {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                    column-gap: 16px;
                }
        
                .individual-bloc {
                    display: flex;
                    align-items: center;
                    gap: 16px;
        
                    button {
                        width: 40px;
                        min-width: 40px;
                    }
        
                }
        
                .card {
                    //padding: 16px;
                }
        
            }
        
        }
    
    }

    .sources {
        width: 150px;
        background-color: #212121;
        padding: 16px 40px;
        border-radius: 5px;

        position: absolute;
        bottom: 40px;

    
}

    footer {
        margin-top: 16px;
        height: 40px;
        flex-grow: 0;
        justify-content: space-between;
        font-size: 12px;
        .sources {
            
                position: absolute;
                top: 35px;

            
        }
        
    }

    .m-right16 {
        margin-right: 16px;
    }

    .m-top16 {
        margin-top: 16px;
    }

    .m-top32 {
        margin-top: 32px;
    }
    .underline {
        text-decoration: underline;
    }
    


    











}